<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create Report</title>
        <link rel="stylesheet" href="/css/index.css">

        <!--Links-->
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="bodyClass">
            <div class="leftForm" style="display: flex; flex-direction: column; justify-content: space-between; height: 700px;">
                <div class="topInfo">
                    <h1>Report with <span style="color: #670014;">X</span></h1>
                    <p style="color: darkgray;">Cars are the ultimate accessory. Let them elevate you.</p>
                </div>
                <form class="formInTheMiddle" method="post" action="/createReports" style="padding-bottom: 50px">
                    <div class="sideBySideForm">
                        <div class="formPart">
                            <label for="startDate">From *</label>
                            <input type="date" id="startDate" name="startDate"
                                   th:value="${(type == 'edit' and report != null) ? #temporals.format(report.start, 'yyyy-MM-dd') : ''}" required/>
                        </div>
                        <div class="formPart">
                            <label for="endDate">To *</label>
                            <input type="date" id="endDate" name="endDate"
                                   th:value="${(type == 'edit' and report != null) ? #temporals.format(report.end, 'yyyy-MM-dd') : ''}" required/>
                        </div>
                    </div>
                    <div class="formPart">
                        <label for="name">Name of Report *</label>
                        <input type="text" id="name" name="name" th:value="${type == 'edit' ? report.getName() : ' '}" required/>
                    </div>
                    <p>Summary Parameters:</p>
                    <div style="color: #505050; display: flex; flex-direction: row; justify-content: space-between;">
                        <div style="display: flex; flex-direction: column; gap: 10px; justify-content: space-around;">
                            <label for="totalIncome">Total Income</label>
                            <label for="totalBookings">Total Bookings</label>
                            <label for="mostUsedCars">Most used cars</label>
                            <label for="leastUsedCars">Least used cars</label>
                            <label for="Cancellations">Cancellations</label>
                        </div>
                        <div style="display: flex; flex-direction: column; justify-content: space-between; padding: 5px; width: 25px;">
                            <input type="checkbox" id="totalIncome" name="parameters" value="Total Income" th:checked="${report != null and report.parameters != null and report.parameters.contains('Total Income')}"/>
                            <input type="checkbox" id="totalBookings" name="parameters" value="Total Bookings" th:checked="${report != null and report.parameters != null and report.parameters.contains('Total Bookings')}"/>
                            <input type="checkbox" id="mostUsedCars" name="parameters" value="Most used cars" th:checked="${report != null and report.parameters != null and report.parameters.contains('Most used cars')}"/>
                            <input type="checkbox" id="leastUsedCars" name="parameters" value="Least used cars" th:checked="${report != null and report.parameters != null and report.parameters.contains('Least used cars')}"/>
                            <input type="checkbox" id="Cancellations" name="parameters" value="Cancellations" th:checked="${report != null and report.parameters != null and report.parameters.contains('Cancellations')}"/>
                        </div>
                    </div>
                    <div class="buttonsContainer">
                        <input type="hidden" name="rid" th:value="${type == 'edit' ? report.getId() : '0'}">
                        <input type="submit" class="buttonClass" th:value="${type == 'create'? 'create': 'edit'}" name="type">
                        <input type="submit" value="delete" class="buttonClass" th:if="${type == 'edit'}" style="background-color: white; border: 1px solid #eee; color: black;" name="type">
                    </div>
                </form>
            </div>
            <div>
                <img src="/images/carWithPurse.jpg" style="width: 618px; height: 750px;" alt="An Image of a Red Car"/>
            </div>
        </div>
        <footer>
            <div class="line">
                <p style="padding-top: 110px;"><span style="color: #670014;">X - Car Rental</span></p>
                <div class="contactBox">
                    <h3>Contact us</h3>
                    <div>
                        <div class="contactInfo">
                            <p>Email</p>
                            <p>Number</p>
                            <p>Fax</p>
                        </div>
                        <div class="contactInfo">
                            <p>info@XRental.com</p>
                            <p>+94 11 029 4203</p>
                            <p>idontreallyknow</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>