<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edit | carName</title>
        <link rel="stylesheet" href="../css/index.css">

        <!--Links-->
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
        
    </head>
    <body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
        <div class="bodyClass" style="display: flex; flex-direction: column; align-items: center; gap: 25px;">
            <div style="display: flex; flex-direction: row; gap: 50px;">
                <img src="../images/carWithPurse.jpg" style="height: 475px; width: 450px;">
                <div style="display: flex; flex-direction: column; padding-top: 5px;">
                    <div style="display: flex; flex-direction: column; gap: 20px; width: 450px;">
                        <h2>2008 Nissan GT-R</h2>
                        <p style="color: #8d8d8d;">By Simone Riverstone</p>
                        <p>$500.23</p>
                        <p style="color: #8d8d8d;">A description that is worthy of the magnificence this car truly carries.</p>
                        <p style="font-size: 18px;">Unavailable from:</p>
                        <div style="display: flex; flex-direction: row;">
                            <div>
                                <p>From:</p>
                                <input type="date" style="width: 245px; margin-top: 10px; margin-right: 10px;">
                            </div>
                            <div>
                                <p>To:</p>
                                <input type="date" style="width: 245px; margin-top: 10px;">
                            </div>
                        </div>
                        <button style="background-color: black; color: white; width: 500px; height: 40px;">Edit dates</button>
                        <button style="width: 500px; height: 40px;">Edit info</button>
                        <p style="font-size: 13px; color: #8d8d8d;">A condition of some sort cuz why not</p>
                    </div>
                </div>
            </div>
            <div style="padding-top: 20px; width: 74%; overflow-x: auto; display: flex; flex-direction: row; gap: 20px;">
                <div style="height: fit-content; width: 300px; border: 1px solid #8d8d8d; border-radius: 10px; padding: 10px;">
                    <div class="stars">
                        <div class="empty">★★★★★</div>
                        <div class="filled" style="width: 70%;">★★★★★</div>
                    </div>
                    <p style="padding-top: 10px;">"Honestly, love the entire dark ahh vibe. not for everyone, but like uk i dig."</p>
                    <div style="display: flex; flex-direction: row; padding-left: 5px; padding-top: 20px; gap: 10px; align-items: center;">
                        <p>😊</p>
                        <div style="font-size: 10px;">
                            <p>By Nicholas W.</p>
                            <p style="color: #8d8d8d;">Consultant for the Zootopia Police</p>
                        </div>
                    </div>
                </div>
                <div style="height: fit-content; width: 300px; border: 1px solid #8d8d8d; border-radius: 10px; padding: 10px;">
                    <div class="stars">
                        <div class="empty">★★★★★</div>
                        <div class="filled" style="width: 20%;">★★★★★</div>
                    </div>
                    <p style="padding-top: 10px;">"OH HELL NAW CREEPY AHH VEHICLE LIKE LITERALLY SO STALKER ESQUE"</p>
                    <div style="display: flex; flex-direction: row; padding-left: 5px; padding-top: 20px; gap: 10px; align-items: center;">
                        <p>😔</p>
                        <div style="font-size: 10px;">
                            <p>By Nicholas W.</p>
                            <p style="color: #8d8d8d;">Consultant for the Zootopia Police</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer style="padding-top: 50px;">
            <div class="line">
                <p style="padding-top: 110px;"><span style="color: #670014;">X - Car Rental</span></p>
                <div class="contactBox">
                    <h3>Contact us</h3>
                    <div>
                        <div class="contactInfo">
                            <p>Email</p>
                            <p>Number</p>
                            <p>Fax</p>
                        </div>
                        <div class="contactInfo">
                            <p>info@XRental.com</p>
                            <p>+94 11 029 4203</p>
                            <p>idontreallyknow</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>