<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reports List</title>
        <link rel="stylesheet" href="/css/index.css">

        <!--Links-->
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
        
    </head>
    <body>
        <div th:replace="~{fragments/navbar :: navbar}"></div>
        <div class="bodyClass" style="flex-direction: column; align-items: center;">
            <form class="searchBox" method="get" action="/searchReports">
                <input type="text" placeholder="Search for reports..." name="filter"/>
                <button style="width: 100px;" type="submit">Search</button>
                <button style="width: 100px;" type="button" onclick="window.location.href='/createReports'">Create</button>
            </form>
            <div style="display: flex; flex-direction: column; gap: 10px;">
                <div class="blocks" th:each="report : ${reportList}">
                    <div style="display: flex; flex-direction: column; gap: 5px;">
                        <h3 th:text="${report.getName()}">Report _name_IV</h3>
                        <p>From <span th:text="${#temporals.format(report.getStart(), 'yyyy-MM-dd')}">10/09/2023</span> to <span th:text="${#temporals.format(report.getEnd(), 'yyyy-MM-dd')}">30/12/2023</span></p>
                        <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 800px;">Parameters :<span th:each="parameter, iterStat : ${report.parameters}">
                            <span th:text="${parameter}"></span><span th:if="${!iterStat.last}">, </span>
                        </span></p>
                    </div>
                    <form method="get" action="/viewOrEditReport">
                        <input type="hidden" name="rid" th:value="${report.getId()}">
                        <button style="background-color: white; border: 1px solid #E0E0E0;" type="submit" name="type" value="edit">Edit</button>
                        <button style="background-color: black; color: white;" type="submit" name="type" value="view">View</button>
                    </form>
                </div>
            </div>
            <div class="endingLineBox">
                <div class="endingLine"></div>
                <p>End of reports</p>
                <div class="endingLine"></div>
            </div>
        </div>
        <footer>
            <div class="line">
                <p style="padding-top: 110px;"><span style="color: #670014;">X - Car Rental</span></p>
                <div class="contactBox">
                    <h3>Contact us</h3>
                    <div>
                        <div class="contactInfo">
                            <p>Email</p>
                            <p>Number</p>
                            <p>Fax</p>
                        </div>
                        <div class="contactInfo">
                            <p>info@XRental.com</p>
                            <p>+94 11 029 4203</p>
                            <p>idontreallyknow</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>